html
    head 
        title rate
    body 
        h1 Rate Us: 
        form(action="/thanks", method="post")
            <textarea name="text" class="form-control" id="notetxt" placeholder="Add notes here" id="exampleFormControlTextarea1" rows="3"></textarea>
            button( id="btnou" type="submit") Rate  